<!DOCTYPE html>
<html>

<head>
    <title>cv</title>
  <link rel="stylesheet" href="./bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
   crossorigin="anonymous">
  <script type="text/javascript" src="./jquery.min.js"></script>
  <script type="text/javascript" src="./bootstrap.min.js"></script>
    <script type="text/javascript" src="./js.js"></script>

    <link rel="stylesheet" type="text/css" href="./css.css">
</head>


<body style="background-image:url('http://localhost:3000/images/bg2.jpg'); background-repeat: no-repeat; background-size: 100%; padding-top: 50px; background-attachment: fixed;">
    <nav class="navbar navbar-default navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                    aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Hiring Manager Assistance</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li> <a href="/addPosition">Add New Position</a> </li>
                    <li> <a href="/positions">View All Positions</a> </li>
                    <li> <a href="/addCv">Add New CV</a> </li>
                    <li> <a href="/cvs">View All CVs</a> </li>
                    <li class="active"> <a href="/result">Result</a> </li>
                </ul>
            </div>
        </div>
    </nav>



    <div class="row">
        <!-- uncomment code for absolute positioning tweek see top comment in css -->
        <!-- <div class="absolute-wrapper"> </div> -->
        <!-- Menu -->
        <div class="side-menu">

            <nav class="navbar navbar-default navbar-inverse" role="navigation" style="height: 100%;    overflow-x: auto;">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <div class="brand-wrapper">
                        <!-- Hamburger -->
                        <button type="button" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

                        <!-- Brand -->
                        <div class="brand-name-wrapper">
                            <a class="navbar-brand" href="#">
                    Result
                </a>
                        </div>

                    </div>

                </div>

                <!-- Main Menu -->
                <div class="side-menu-container">
                    <ul class="nav navbar-nav">

                        <% positions.forEach(function(pos){ %>
                            <li><a href="/result?name=<%=pos.title%>"><span class=""></span> <%=pos.title%></a></li>
                            <% }); %>


                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </nav>

        </div>

        <!-- Main Content -->
        <div class="container-fluid">
            <div class="side-body">
                <% if(typeof result != undefined){%>
                    <table class="table table-bordered" style="margin: 8px;">
                        <tr style="background-color: #101010">
                            <th style="width: 20%; color: #ecf0f1; text-align: center;">Name</th>
                            <th style="width: 20%; color: #ecf0f1; text-align: center;">Age</th>
                            <th style="width: 20%; color: #ecf0f1; text-align: center;">Education</th>
                            <th style="width: 20%; color: #ecf0f1; text-align: center;">Experience</th>
                            <th style="width: 20%; color: #ecf0f1; text-align: center;">Rank</th>
                        </tr>

                        <% _.forEachRight(result,function(person, i){ var c = "#bdc3c7" ; if(i%2 != 0)  c = "#ecf0f1";%>
                            <tr style="text-align: center; background-color: <%= c %>">
                                <td>
                                    <%= person.person.title %>
                                </td>
                                <td>
                                    <%= person.person.age %>
                                </td>
                                <td>
                                    <%= person.education %>
                                </td>
                                <td>
                                    <%= person.experience %>
                                </td>
                                <td>
                                    <%= person.rank %>
                                </td>
                            </tr>
                            <% }); %>
                    </table>
                    <%}%>

            </div>
        </div>
    </div>
    <script type="text/javascript" src="./js.js"></script>
</body>

</html>